<table class="table" id="Table">
    <tr class="no-border">
        <td colspan="6">
            <div class="heading-table">
                <h3>Upcoming Service</h3>
            </div>
        </td>
    </tr>
    <tr>
        <th onclick="sortTable(0,2,2)">Service ID <img src="images/sort.png" alt=""></th>
        <th onclick="sortTable(1,2,2)">Service date <img src="images/sort.png" alt=""></th>
        <th colspan="2" onclick="sortTable(2,2,2)">Customer details <img src="images/sort.png" alt=""></th>
        <th onclick="sortTable(3,2,2)">Distance <img src="images/sort.png" alt=""></th>
        <th class="action">Actions</th>
    </tr>
    <tr>
        <td>323436</td>
        <td><img class="img-table" src="images/calendar2.png"> 09/04/2018 <br> <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</td>
        <td colspan="2">David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</td>
        <td>10 km</td>
        <td class="action"><button class="cancel-button">Cancel</button></td>
    </tr>
    <tr>
        <td>323434</td>
        <td><img class="img-table" src="images/calendar2.png"> 09/04/2018 <br> <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</td>
        <td colspan="2">Aavid Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</td>
        <td>10 km</td>
        <td class="action"><button class="cancel-button">Cancel</button></td>
    </tr>
    <tr>
        <td>323436</td>
        <td><img class="img-table" src="images/calendar2.png"> 09/04/2018 <br> <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</td>
        <td colspan="2">David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</td>
        <td>10 km</td>
        <td class="action"><button class="cancel-button">Cancel</button></td>
    </tr>
    <tr>
        <td>323436</td>
        <td><img class="img-table" src="images/calendar2.png"> 09/04/2018 <br> <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</td>
        <td colspan="2">David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</td>
        <td>10 km</td>
        <td class="action"><button class="cancel-button">Cancel</button></td>
    </tr>
    <tr>
        <td>323436</td>
        <td><img class="img-table" src="images/calendar2.png"> 09/04/2018 <br> <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</td>
        <td colspan="2">David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</td>
        <td>10 km</td>
        <td class="action"><button class="cancel-button">Cancel</button></td>
    </tr>
    <tr>
        <td>323436</td>
        <td><img class="img-table" src="images/calendar2.png"> 09/04/2018 <br> <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</td>
        <td colspan="2">David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</td>
        <td>10 km</td>
        <td class="action"><button class="cancel-button">Cancel</button></td>
    </tr>
    <tr>
        <td>323436</td>
        <td><img class="img-table" src="images/calendar2.png"> 09/04/2018 <br> <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</td>
        <td colspan="2">David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</td>
        <td>10 km</td>
        <td class="action"><button class="cancel-button">Cancel</button></td>
    </tr>
    <tr>
        <td>323436</td>
        <td><img class="img-table" src="images/calendar2.png"> 09/04/2018 <br> <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</td>
        <td colspan="2">David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</td>
        <td>11 km</td>
        <td class="action"><button class="cancel-button">Cancel</button></td>
    </tr>
    <tr>
        <td>323436</td>
        <td><img class="img-table" src="images/calendar2.png"> 09/04/2018 <br> <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</td>
        <td colspan="2">David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</td>
        <td>10 km</td>
        <td class="action"><button class="cancel-button">Cancel</button></td>
    </tr>
    <tr>
        <td>323436</td>
        <td><img class="img-table" src="images/calendar2.png"> 09/04/2018 <br> <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</td>
        <td colspan="2">David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</td>
        <td>10 km</td>
        <td class="action"><button class="cancel-button">Cancel</button></td>
    </tr>
    <tr>
        <td colspan="6">
            <div class="footer-table">
                <div class="left-side">
                    <h3>Show </h3>
                    <select>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <h3>entries</h3>
                    <h3>Total Records :</h3><span id="count">55</span>
                </div>
                <div class="right-side">
                    <i class="fas fa-step-backward"></i>
                    <i class="fas fa-chevron-left"></i>
                    <h3 class="page-active">1</h3>
                    <h3>2</h3>
                    <h3>3</h3>
                    <h3>4</h3>
                    <i class="fas fa-chevron-right"></i>
                    <i class="fas fa-step-forward"></i>
                </div>
            </div>
        </td>
    </tr>
</table>
<table class="card">
    <tr class="no-border">
        <td colspan="6">
            <div class="heading-table">
                <h3>Upcoming Service</h3>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card-table-tr">
                <h4>323436</h4>
                <hr>
                <p><img class="img-table" src="images/calendar2.png"> 09/04/2018 <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</p>
                <hr>
                <p>David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</p>
                <hr>
                <p>10 km</p>
                <hr>
                <p class="button-center"><button class="cancel-button">Cancel</button></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card-table-tr">
                <h4>323436</h4>
                <hr>
                <p><img class="img-table" src="images/calendar2.png"> 09/04/2018 <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</p>
                <hr>
                <p>David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</p>
                <hr>
                <p>10 km</p>
                <hr>
                <p class="button-center"><button class="cancel-button">Cancel</button></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card-table-tr">
                <h4>323436</h4>
                <hr>
                <p><img class="img-table" src="images/calendar2.png"> 09/04/2018 <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</p>
                <hr>
                <p>David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</p>
                <hr>
                <p>10 km</p>
                <hr>
                <p class="button-center"><button class="cancel-button">Cancel</button></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card-table-tr">
                <h4>323436</h4>
                <hr>
                <p><img class="img-table" src="images/calendar2.png"> 09/04/2018 <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</p>
                <hr>
                <p>David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</p>
                <hr>
                <p>10 km</p>
                <hr>
                <p class="button-center"><button class="cancel-button">Cancel</button></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card-table-tr">
                <h4>323436</h4>
                <hr>
                <p><img class="img-table" src="images/calendar2.png"> 09/04/2018 <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</p>
                <hr>
                <p>David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</p>
                <hr>
                <p>10 km</p>
                <hr>
                <p class="button-center"><button class="cancel-button">Cancel</button></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card-table-tr">
                <h4>323436</h4>
                <hr>
                <p><img class="img-table" src="images/calendar2.png"> 09/04/2018 <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</p>
                <hr>
                <p>David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</p>
                <hr>
                <p>10 km</p>
                <hr>
                <p class="button-center"><button class="cancel-button">Cancel</button></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card-table-tr">
                <h4>323436</h4>
                <hr>
                <p><img class="img-table" src="images/calendar2.png"> 09/04/2018 <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</p>
                <hr>
                <p>David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</p>
                <hr>
                <p>10 km</p>
                <hr>
                <p class="button-center"><button class="cancel-button">Cancel</button></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card-table-tr">
                <h4>323436</h4>
                <hr>
                <p><img class="img-table" src="images/calendar2.png"> 09/04/2018 <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</p>
                <hr>
                <p>David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</p>
                <hr>
                <p>10 km</p>
                <hr>
                <p class="button-center"><button class="cancel-button">Cancel</button></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card-table-tr">
                <h4>323436</h4>
                <hr>
                <p><img class="img-table" src="images/calendar2.png"> 09/04/2018 <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</p>
                <hr>
                <p>David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</p>
                <hr>
                <p>10 km</p>
                <hr>
                <p class="button-center"><button class="cancel-button">Cancel</button></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card-table-tr">
                <h4>323436</h4>
                <hr>
                <p><img class="img-table" src="images/calendar2.png"> 09/04/2018 <img class="img-table" src="images/layer-14.png"> 12:00 - 18:00</p>
                <hr>
                <p>David Bough <br><img src="images/layer-15.png"> Musterstrabe 5,12345 Bonn</p>
                <hr>
                <p>10 km</p>
                <hr>
                <p class="button-center"><button class="cancel-button">Cancel</button></p>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <div class="footer-table">
                <div class="left-side">
                    <h3>Show </h3>
                    <select>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <h3>entries</h3>
                    <h3>Total Records :</h3><span id="count">55</span>
                </div>
                <div class="right-side">
                    <i class="fas fa-step-backward"></i>
                    <i class="fas fa-chevron-left"></i>
                    <h3 class="page-active">1</h3>
                    <h3>2</h3>
                    <h3>3</h3>
                    <h3>4</h3>
                    <i class="fas fa-chevron-right"></i>
                    <i class="fas fa-step-forward"></i>
                </div>
            </div>
        </td>
    </tr>
</table>