<div id="myModal" class="modal" style="display: block;">

    <!-- Modal content -->
    <div class="modal-content" style="width: 30%;">
        <span class="close">&times;</span>
        <h2 style="margin-bottom: 15px;">Login to your account</h2>
        <div class="flex-login" id="flex-login">
            <input type="text" name="Email" id="" placeholder="Email">
            <input type="password" name="Password" id="" placeholder="Password">
            <div><input type="checkbox" name="Remember me" id="">Remember me</div>
            <button>Login</button>
            <a>Forgot Password?</a>
            <div>Don't have an account?<a>Create an account</a></div>
        </div>
    </div>

</div>