@model Sample.Models.User
@if (!String.IsNullOrEmpty(@ViewBag.Message))
{
    <script>
        showMsg("@ViewBag.Message");
    </script>
}
<div id="home"></div>
<div class="header-contain" id="header" style="background: rgba(39, 39, 39, .7);">
    <a class="logo" asp-controller="index" asp-action="index">
        <img src="~/images/logo.png">
    </a>
    <div class="toggle" onclick="openMenu()" aria-expanded="false" id="buttonMenu">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <div class="navbar" id="mynav" data-visible="false">
        <ul id="header-nav">
            <li><a asp-controller="bookservice" class="Button">Book a Cleaner</a></li>
            <li><a asp-controller="price" asp-action="index">Prices</a></li>
            <li><a href="#">Our Guarantee</a></li>
            <li><a href="#">Blog</a></li>
            <li><a asp-controller="contact" asp-action="index">Contact us</a></li>
            <li><a asp-action="login" class="Button">Login</a></li>
            <li><a asp-controller="spsignup" asp-action="index" class="Button">Become a helper</a></li>
            <!-- <li class="flag">
                            <a href="#" class="flag-icon"><img src="images/flag.png">
                                <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                        </li> -->

        </ul>
        <li class="media-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="media-li"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </div>
</div>

<section class="conatc-info section-padding">
    <div class="container">
        <div class="contact-section">
            <div class="main-title">
                <h2>Create an account</h2>
            </div>
        </div>
        <div class="contact-form">
            <h3 class="sub-title"></h3>
            <div class="login-form">
                <form asp-action="Registration">
                    
                    <div class="first-field">

                        <input type="hidden" asp-for="UserTypeId" value="3">
                        <input type="text" id="fname" asp-for="FirstName" class="form-inline" placeholder="First name" required>
                        <span asp-validation-for="FirstName" class="text-danger-error"></span>
                        <input type="text" id="lname" asp-for="LastName" class="form-inline" placeholder="Last name" required>
                        <span asp-validation-for="LastName" class="text-danger-error"></span>
                        <input type="hidden" asp-for="CreatedDate" value="@DateTime.Now" />
                        <input type="hidden" asp-for="ModifiedDate" value="@DateTime.Now" />
                        <input type="hidden" value="0" />
                    </div>
                    <div class="second-field">
                        <div class="input-wrapper">
                            <input type="email" asp-for="Email" class="email" placeholder="Email address" required>
                            <span asp-validation-for="Email" class="text-danger-error"></span>
                        </div>
                        <div class="input-wrapper">
                            <select name="code" class="code">
                                <option value="volvo">+49</option>
                                <option value="saab">+99</option>
                                <option value="mercedes">+14</option>
                            </select>
                            <input type="text" asp-for="Mobile" value="" pattern="[0-9]{10}" class="call" placeholder="Mobile number" style="width:74%;margin-left:0px;" required>
                            <span asp-validation-for="Mobile" class="text-danger-error"></span>
                            <input type="hidden" asp-for="DateOfBirth">
                        </div>
                    </div>
                    <div class="first-field">
                        <input type="password" asp-for="Password" id="pwd" class="form-inline" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$" title="•	Password must contain at least 1 capital letter, 1 small letter, 1 number and one special character. Password length must be in between 6 to 14 characters" required>
                        <span asp-validation-for="Password" class="text-danger-error"></span>
                        <input type="password" asp-for="cPassword" id="cpwd" class="form-inline" placeholder="Confirm Password" required>
                        <span asp-validation-for="cPassword" class="text-danger-error"></span>
                    </div>
                    <div>
                        <input type="checkbox" class="checkbox" value="Bike">
                        <label for="vehicle1"> Yes, I want the newsletter from the Subscribe to Helperland GmbH with vouchers, trends, information, promotions and individualized offers. I can unsubscribe from the newsletter at any time in the newsletter and in the customer account.</label>
                    </div>
                    <div>
                        <input type="checkbox" class="checkbox" value="Bike" onchange="document.getElementById('disable').disabled = !this.checked;">
                        <label for="vehicle1"> I accept <span>terms and conditions</span> & <span>privacy policy</span></label>
                    </div>
                    <input type="submit" value="Submit" class="submit-button" id="disable" disabled>
                    <label>Already registered?<a asp-action="Login">Login now</a></label>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-one">
        <div class="container">
            <div class="footer-before">
                <a class="logo" asp-controller="index" asp-action="index">
                    <img src="~/images/logo.png">
                </a>
                <div class="footer-navbar">
                    <ul id="footer-nav">
                        <li><a asp-controller="index" asp-action="index">home</a></li>
                        <li><a asp-controller="about" asp-action="index">about</a></li>
                        <li><a href="#">testimonial</a></li>
                        <li><a asp-controller="faq" asp-action="index">faq</a></li>
                        <li><a href="#">insurance policy</a></li>
                        <li><a href="#">impressum</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <ul class="socail-media">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <hr style="width:90%;text-align:center;border: 0.5px solid #424242;">
        <div class="copright">
            <div class="footer-copyright">
                <h6 style="text-align: center;">©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</h6>
            </div>
        </div>
    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".toggle").click(function () {
            $("#mynav").toggle();
        });
    });
</script>

<script>
    // $(document).ready(function() {
    //     $(".toggle").click(function() {
    //         $("#mynav").toggle();
    //     });
    // });

    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("header");
    var sticky = "150";

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            
        } else {
            header.classList.remove("sticky");
            
        }
    }

    function openMenu() {
        var popupLi = document.querySelector(".navbar");
        var menuButton = document.querySelector(".toggle");
        // popupLi.classList.toggle("show-menu");
        var visibility = popupLi.getAttribute("data-visible");
        
        if (visibility === "false") {
            popupLi.setAttribute("data-visible", true);
            menuButton.setAttribute("aria-expanded", true);
            var body = document.getElementById('home');
            body.classList.add("back");
        } else if (visibility === "true") {
            popupLi.setAttribute("data-visible", false);
            menuButton.setAttribute("aria-expanded", false);
            var body = document.getElementById('home');
            body.classList.remove("back");
        }
    }
</script>
