@{
    ViewData["Title"] = "Contact Us";
}

<div id="home"></div>
<div class="header-contain" id="header" style="background: rgba(39, 39, 39, .7);">
    <a class="logo" asp-controller="index">
        <img src="images/logo.png">
    </a>
    <div class="toggle" onclick="openMenu()" aria-expanded="false" id="buttonMenu">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <div class="navbar" id="mynav" data-visible="false">
        <ul id="header-nav">
            <li><a href="#" class="Button">Book a Cleaner</a></li>
            <li><a asp-controller="price">Prices</a></li>
            <li><a href="#">Our Guarantee</a></li>
            <li><a href="#">Blog</a></li>
            <li><a asp-controller="contact">Contact us</a></li>
            <li><a asp-controller="index" asp-action="login" class="Button">Login</a></li>
            <li><a asp-controller="spsignup" class="Button">Become a helper</a></li>
            <!-- <li class="flag">
                    <a href="#" class="flag-icon"><img src="images/flag.png">
                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                </li> -->

        </ul>
        <li class="media-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="media-li"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </div>
</div>



<div class="full-image faq-img">
    <img src="images/contact-banner.png">
</div>


<section class="conatc-info section-padding">
    <div class="container">
        <div class="contact-section">
            <div class="main-title">
                <h2>Contact us</h2>
            </div>
        </div>
        <div class="contact-wrapper">
            <div class="contact-box">
                <img src="images/location.png">
                <h6>1111 Lorem ipsum text 100,<br>Lorem ipsum AB</h6>
            </div>
            <div class="contact-box">
                <img src="images/phone.png">
                <h6>+49 (40) 987 56 0000<br>+49 (40) 123 56 7890</h6>
            </div>
            <div class="contact-box">
                <img src="images/envelope.png">
                <h6>info@helperland.com</h6>
            </div>
        </div>
        <div class="contact-form">
            <h3 class="sub-title"> get in touch with us</h3>
            <div class="login-form">
                <form>
                    <div class="first-field">
                        <input type="text" id="fname" class="form-inline" placeholder="First name">
                        <input type="text" id="lname" class="form-inline" placeholder="Last name">
                    </div>
                    <div class="second-field">
                        <div class="input-wrapper">
                            <select name="code" class="code">
                                <option value="volvo">+49</option>
                                <option value="saab">+99</option>
                                <option value="mercedes">+14</option>
                            </select>
                            <input type="text" name="" pattern="[0-9]{10}" min="10" max="10" class="call" placeholder="Mobile number">
                        </div>
                        <div class="input-wrapper">
                            <input type="email" name="email" class="email" placeholder="Email address">
                        </div>
                    </div>
                    <div class="full-width">
                        <select name="subject" id="subject" class="full-line">
                            <option value="subject">Subject</option>

                        </select>
                        <textarea placeholder="Message" rows="4" cols="10" class="full-line"></textarea>
                    </div>
                    <input type="submit" value="Submit" class="submit-button">
                </form>
            </div>
        </div>
    </div>
</section>


<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3776843.676506548!2d71.31943700000001!3d22.4168315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1638205893907!5m2!1sen!2sin" height="400" width="100%" style="border:0;"
            allowfullscreen="" loading="lazy"></iframe>

    <div class="newsletter">

        <div class="newsletter-form">
            <h3>GET OUR NEWSLETTER</h3>
            <div class="form">
                <form>
                    <input type="email" name="email" placeholder="Email">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>
</section>


<footer class="footer">
    <div class="footer-one">
        <div class="container">
            <div class="footer-before">
                <div class="logo">
                    <img src="images/logo.png">
                </div>
                <div class="footer-navbar">
                    <ul id="footer-nav">
                        <li><a href="homepage.html">home</a></li>
                        <li><a href="about.html">about</a></li>
                        <li><a href="#">testimonial</a></li>
                        <li><a href="faq.html">faq</a></li>
                        <li><a href="#">insurance policy</a></li>
                        <li><a href="#">impressum</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <ul class="socail-media">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <hr style="width:90%;text-align:center;border: 0.5px solid #424242;">
        <div class="copright">
            <div class="footer-copyright">
                <h6 style="text-align: center;">©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</h6>
            </div>
        </div>
    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".toggle").click(function () {
            $("#mynav").toggle();
        });
    });
</script>

<script>
    // $(document).ready(function() {
    //     $(".toggle").click(function() {
    //         $("#mynav").toggle();
    //     });
    // });

    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("header");
    var sticky = "150";

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            console.log("if");
        } else {
            header.classList.remove("sticky");
            console.log("ifelse");
        }
    }

    function openMenu() {
        var popupLi = document.querySelector(".navbar");
        var menuButton = document.querySelector(".toggle");
        // popupLi.classList.toggle("show-menu");
        var visibility = popupLi.getAttribute("data-visible");
        console.log(visibility);
        if (visibility === "false") {
            popupLi.setAttribute("data-visible", true);
            menuButton.setAttribute("aria-expanded", true);
            var body = document.getElementById('home');
            body.classList.add("back");
        } else if (visibility === "true") {
            popupLi.setAttribute("data-visible", false);
            menuButton.setAttribute("aria-expanded", false);
            var body = document.getElementById('home');
            body.classList.remove("back");
        }
    }
</script>
